.page-container { text-align: center; width: 1000px; margin: 0 auto; }
#SvgContainer { margin: 30px auto 30px auto; }
.text-block { font-family: verdana; }
.page-title { font-size: 1.4em; margin: 20px 0px 20px 0px; font-weight: bold; color: blue; }

.author-info { margin: 40px auto 20px auto; font-size: .8em; }
.author-info .author-name { font-weight: bold; margin-bottom: 5px;}
.author-info .author-email { }
.section-title { font-weight: bold; font-size: 1.3em; margin: 20px auto; text-decoration: underline; }
.section-part-title { font-weight: bold; font-size: 1.2em; margin: 20px auto; }
.section-part-subtitle { font-size: 1.0em; font-weight: bold; margin: 20px auto; }

.code-highlight { font-size: .8em; text-align: left; border: 1px solid gainsboro; margin: 10px auto; padding: 0px 10px; width: 800px; }

.arguments-table { margin: 10px auto; width: 712px; margin: 20px auto; }
.arguments-table .arguments-table-row { width: 710px; }
.arguments-table .arguments-table-row .column1 { float: left; width: 150px; text-align: right; font-weight: bold; }
.arguments-table .arguments-table-row .column2 { float: left; width: 450px; text-align: left; margin-left: 5px; }

.float-stop { clear: both; }

.download-link-container { text-align: center; font-weight: bold; margin-bottom: 40px; }
.download-link-container > a { color: blue; }

body { background: lightblue; }

